<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107730957844-buck7dmgkak526uh9fa7o3cfhvmvdsjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107730957844-buck7dmgkak526uh9fa7o3cfhvmvdsjv</string>
	<key>API_KEY</key>
	<string>AIzaSyBreLzmCQxq963dsAICcSae-ma6QkhMzTg</string>
	<key>GCM_SENDER_ID</key>
	<string>107730957844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mms.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-3c759</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-3c759.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107730957844:ios:6951998a2a3ff519855901</string>
</dict>
</plist>